language: ruby
cache:
- bundler
install:
- bundle install
rvm:
- 1.9.3
- 2.0
- 2.1
- 2.2
notifications:
  email:
    recipients:
    - sensu-plugin@sensu-plugins.io
    on_success: change
    on_failure: always
script:
- bundle exec rake default
- gem build sensu-plugins-riak.gemspec
- gem install sensu-plugins-riak-*.gem
deploy:
  provider: rubygems
  api_key:
    secure: C8x+OjcJnwpR2GPqxytq2HQEfCA90z3KV5OuQs+fusM+htKacOCP6RnpawXeRNAc681jfyDA3YJvNY9I8nCAN/LKP1H8Eu4bO9qzQ5OeAM0bFQ6BGY5bb8hBwSz0BZRIak/kpHaVTi/gkH+a+2rIJ1UuBGlpHkzqrlBx4JBnso0=
  gem: sensu-plugins-riak
  on:
    tags: true
    all_branches: true
    rvm: 1.9.3
    rvm: 2.0
    rvm: 2.1
    rvm: 2.2
    repo: sensu-plugins/sensu-plugins-riak
